body {
  font-family: "Khula", sans-serif;
  font-weight: 300;
  color:#222;
  line-height: 1em;
  padding: 2em;
}
.legend {
  margin: 60px auto 0 auto;
  padding: 0;
  font-size: 0.9em;
}
.legend li {
  display: inline-block;
  padding: 0.25em 1em;
  line-height: 1.5em;
  width: 50%;
}

span.color-bullet {
  width: 10px;
  height: 10px;
  float: left;
  display: block;
  margin: 2px 5px 0 0;
}

div.row {
  width: 1024px;
}

div.row div.left-col {
  width: 370px;
  float: left;
}

div.row div.left-col ul {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}

div.row div.left-col ul li {
  margin-bottom: 35px;
}

div.row div.left-col ul li:last-child {
  margin-bottom: 0;
}

div.row div.right-col {
  width: 450px;
  float: left;
}

div.graphic {
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #666;
}

div.graphic div.body {
  height: 150px;
  overflow: hidden;
}

div.graphic div.blocks {
  border-right: 1px solid #ccc;
  height: 150px;
  width: 25%;
  float: left;
}

div.graphic div.blocks:nth-child(4) {
  width: 24.3%;
  border-right: none;
}

ul.bars {
  width: 448px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
}

ul.bars:first-child {
  margin-top: 10px;
}

ul.bars li {
  float: left;
  height: 15px;
}

ul.legends {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  margin: 6px 0 0 -15px;
  font-size: 12px;
}

ul.legends li {
  display: inline;
  margin-right: 150px;
}

ul.legends li:last-child {
  margin-right: 0;
}

ul.legends li:nth-child(1) {
  margin-right: 90px;
}

ul.legends li:nth-child(2) {
  margin-right: 90px;
}

ul.legends li:nth-child(3) {
  margin-right: 94px;
}

ul.legends li:nth-child(4) {
  margin-right: 80px;
}
